In [1]:
from os import chdir
chdir('/home/jovyan')

In [2]:
from lib.postgres import connect_to_postgres, encode_target

In [3]:
from redis import Redis
from rq import Queue
REDIS = Redis(host='this_redis')
Q = Queue(connection=REDIS)

In [4]:
for id in range(32561):
    Q.enqueue(encode_target, id)

In [7]:
con, cur = connect_to_postgres()
cur.execute("""SELECT _id, income_label, target FROM adult WHERE _id > 32555""")
print (cur.fetchall())
con.close()

[(32556, ' <=50K', False), (32557, ' <=50K', False), (32558, ' >50K', True), (32559, ' <=50K', False), (32560, ' <=50K', False), (32561, ' >50K', True)]